.sidebar__main {
	display: flex;
	height: 93vh;
}

.sidebar__outlet {
	background-color: #f9f9f9;
	/* overflow-y: scroll; */
	flex: 2;
}

.sidebar {
	width: 196px;
	height: 93vh;
	background-color: #f4f4f4;
}

.sideTabComponent {
	margin: 1rem 0;
}

.sideTabComponent__heading {
	padding: 1rem;
	font-weight: normal;
	border-bottom: 1px solid grey;
}

.sideTabDrop__container {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	padding: 0.4rem 1.5rem 0.4rem;
}

.sideTabDrop__heading {
	font-weight: 200;
}
